*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	outline: none;
	border: none;
}
body{
	background-image: url('bg.jpg');
}
.a{
	width: 800px;
	height: auto;
	background: rgba(216,216,216,.5);
	margin: 0 auto;
	padding: 30px 5%;
}
.t{
	width: 90%;
	height: 50px;
	padding: 5px 6px;
	margin: 10px auto;
	display: block;
	border-radius: 5px;
}
.a>textarea{
	width: 90%;
	padding: 6px 6px;
	margin: 10px auto;
	background: #fff;
	font-size: 16px;
	border-radius: 8px;
	display: block;
	resize: none;
}
.a>p{
	width: 90%;
	text-align: center;
	font-size: 16px;
}
p>span{
	font-size: 16px;
	color: #46A5F2;
}
button{
	width: 90%;
	height: 50px;
	color: #fff;
	padding: 5px 5px;
	background: #46A5F2;
	font-size: 16px;
	margin: 10px auto;
	display: block;
	border-radius: 10px;
}








.b{
	width: 800px;
	height: auto;
	background: rgba(216,216,216,.5);
	margin: 0 auto;
	padding: 30px 5%;
}
.b>div{
	width: 90%;
	/* min-height: 30px; */
	margin: 10px auto;
	padding: 5px 5px;
	background: #fff;
}